.cont{
    display: grid;
    grid-template-rows: repeat(10, 40px);
    grid-template-columns: repeat(10,40px);
    border: solid 2px black;
    width: 400px;
    position: relative;
    left: 35%;
}
.cont > div{
    border: solid red 1px;
}