i{
    color: darkcyan;
}
.cont{
    display: grid;
    border: solid 2px black;
    width: auto;
}
.cont > div{
    border: solid black 1px;
    background-color: oklch(0.925 0.084 155.995);
}
.small{
    grid-template-rows: repeat(10, 30px);
    grid-template-columns: repeat(10,30px);
}
.small > div{
    width: 30px;
    height: 30px;
}
/* medium */
.medium{
    grid-template-rows: repeat(15, 22.5px);
    grid-template-columns: repeat(15,22.5px);
}
.medium > div{
    width: 22.5px;
    height: 22.5px;
}
/* large */
.large{
    grid-template-rows: repeat(20, 18px);
    grid-template-columns: repeat(20,18px);
}

.large > div{
    width:18px;
    height:18px;
}

/* small size in tailwind */
@media (width >= 40rem) {
    /* medium */
    .medium{
        grid-template-rows: repeat(15, 20px);
        grid-template-columns: repeat(15,20px);
    }
    .medium > div{
        width: 20px;
        height: 20px;
    }
    /* large */
    .large{
        grid-template-rows: repeat(20, 15px);
        grid-template-columns: repeat(20,15px);
    }
    
    .large > div{
        width:15px;
        height:15px;
    }

}

/* medium size in tailwind */
@media (width >= 48rem) {
    .small{
        grid-template-rows: repeat(10, 60px);
        grid-template-columns: repeat(10,60px);
    }
    .small > div{
        width: 60px;
        height: 60px;
    }
    /* medium */
    .medium{
        grid-template-rows: repeat(15, 40px);
        grid-template-columns: repeat(15,40px);
    }
    .medium > div{
        width: 40px;
        height: 40px;
    }
    /* large */
    .large{
        grid-template-rows: repeat(20, 30px);
        grid-template-columns: repeat(20,30px);
    }
    
    .large > div{
        width:30px;
        height:30px;
    }
}